# Cache and compilation DB
.cache
compile_commands.json

# Binaries:
build

# Documentation
docs

# Mathematica stuff lol
*.nb

# CMake file
CMakeLists.txt

# VSCode stuff
.vscode
# output
*.pdf

# yoinked from internet
*.aux
*.bbl
*.blg
*.log
*.out
*.toc

# idk
*.synctex.gz
*.run.xml
*.fls
*.fdb_latexmk
*-blx.bib